{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            <legend class="border-bottom mb-4">文献搜索</legend>
            {{form.csrf_token}}<!渲染CSRF令牌隐藏字段>
            {{form.venue_name.label}} <br/> {{form.venue_name(style="columns:3")}}
            {{form.date_range.label}} <br/> {{form.date_range(style="columns:5")}}
            {{form.pub_name.label}} <br/> {{ form.pub_name(class="form-control form-control-lg")}}
            <br/>
            {{form.submit(class="btn btn-outline-info")}}
        </form>
    </div>
{% endblock content %}
